<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>124085541769-lbkjssum7sbt4cmhlqnjf4v5l7i4qfck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124085541769-lbkjssum7sbt4cmhlqnjf4v5l7i4qfck</string>
	<key>API_KEY</key>
	<string>AIzaSyBPzJvFRMTaFWd0S8A0NFxvDZLFId3GWOM</string>
	<key>GCM_SENDER_ID</key>
	<string>124085541769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iban.point</string>
	<key>PROJECT_ID</key>
	<string>pointchat-50d30</string>
	<key>STORAGE_BUCKET</key>
	<string>pointchat-50d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124085541769:ios:6d40bf78ccb1d5d0</string>
	<key>DATABASE_URL</key>
	<string>https://pointchat-50d30.firebaseio.com</string>
</dict>
</plist>